<a href="https://colab.research.google.com/github/AbnerRidigolo/cadernos-calculos/blob/main/cap11_exemplos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capítulo 2 - Exemplos

## Módulos

In [ ]:
import numpy as np
import pandas as pd

## Carregar dados

In [ ]:
df_dados_paises = pd.read_csv('dados_1997_2011_paises_csv.csv',
                              sep = ';',
                              decimal = ',',
                              encoding='latin1')

In [ ]:
df_dados_paises.head(30)

             pais   ano     idh  ...  globalizacao_indice           pib    populacao
0   África do Sul  1997  0.6328  ...             52.60298  1.488142e+08  43353.63200
1   África do Sul  1998  0.6272  ...             54.51911  1.342956e+08  43961.92400
2   África do Sul  1999  0.6216  ...             61.04379  1.331836e+08  44526.27200
3   África do Sul  2000  0.6160  ...             62.47182  1.328776e+08  45064.09800
4   África do Sul  2001  0.6126  ...             62.04144  1.184790e+08  45576.21500
5   África do Sul  2002  0.6092  ...             62.15008  1.111008e+08  46076.95300
6   África do Sul  2003  0.6058  ...             61.81803  1.682193e+08  46566.62600
7   África do Sul  2004  0.6024  ...             63.23793  2.190929e+08  47032.86600
8   África do Sul  2005  0.5990  ...             64.01835  2.470643e+08  47483.44700
9   África do Sul  2006  0.6010  ...             64.97832  2.610070e+08  47925.66900
10  África do Sul  2007  0.6040  ...             66.29974  2.861691e+08  48367.13100
11  África do Sul  2008  0.6080  ...             66.14061  2.752787e+08  48782.75500
12  África do Sul  2009  0.6100  ...             67.06000  2.827544e+08  49052.48900
13  África do Sul  2010  0.6150  ...             65.60000  3.637039e+08  49109.10700
14  África do Sul  2011  0.6190  ...             66.14000  4.087040e+08  50587.00000
15       Alemanha  1997  0.8466  ...             78.90716  2.157230e+09  82274.11668
16       Alemanha  1998  0.8524  ...             80.86485  2.178171e+09  82286.75609
17       Alemanha  1999  0.8582  ...             82.53677  2.131046e+09  82338.02601
18       Alemanha  2000  0.8640  ...             84.94917  1.886401e+09  82447.26727
19       Alemanha  2001  0.8702  ...             84.62968  1.880895e+09  82584.69666
20       Alemanha  2002  0.8764  ...             85.26765  2.006588e+09  82722.89350
21       Alemanha  2003  0.8826  ...             85.35062  2.423815e+09  82769.17848
22       Alemanha  2004  0.8888  ...             85.10805  2.726341e+09  82751.77985
23       Alemanha  2005  0.8950  ...             85.32560  2.766254e+09  82703.83456
24       Alemanha  2006  0.8980  ...             85.45600  2.902749e+09  82610.48310
25       Alemanha  2007  0.9010  ...             86.00454  3.323807e+09  82500.62788
26       Alemanha  2008  0.9020  ...             85.10198  3.623686e+09  82328.58583
27       Alemanha  2009  0.9000  ...             81.75000  3.298636e+09  82100.18760
28       Alemanha  2010  0.9030  ...             84.16000  3.280530e+09  81906.32178
29       Alemanha  2011  0.9050  ...             85.10000  3.577031e+09  81844.00000

[30 rows x 8 columns]

In [ ]:
df_dados_paises.dtypes

pais                       object
ano                         int64
idh                       float64
corrupcao_indice            int64
competitividade_indice    float64
globalizacao_indice       float64
pib                       float64
populacao                 float64
dtype: object

- Contagem países

In [ ]:
df_dados_paises.groupby('pais') \
               .agg(n = pd.NamedAgg('pais', 'count')) \
               .reset_index()

              pais   n
0         Alemanha  15
1        Austrália  15
2           Brasil  15
3          Bélgica  15
4           Canadá  15
5            China  15
6        Cingapura  15
7           Coréia  15
8          Espanha  15
9   Estados Unidos  15
10          França  15
11         Holanda  15
12          Itália  15
13           Japão  15
14          México  15
15     Reino Unido  15
16          Rússia  15
17   África do Sul  15
18           Índia  15

- Tipos das variáveis

In [ ]:
df_dados_paises.dtypes

pais                       object
ano                         int64
idh                       float64
corrupcao_indice            int64
competitividade_indice    float64
globalizacao_indice       float64
pib                       float64
populacao                 float64
dtype: object

## Métricas

### min, max, mean

In [ ]:
df_dados_paises.groupby('pais') \
            .agg(min_idh = pd.NamedAgg('idh', 'min'),
                 max_idh = pd.NamedAgg('idh', 'max'),
                 media_idh = pd.NamedAgg('idh', 'mean')) \
            .reset_index()

              pais  min_idh  max_idh  media_idh
0         Alemanha   0.8466   0.9050   0.882880
1        Austrália   0.8958   0.9290   0.914507
2           Brasil   0.6464   0.7180   0.684653
3          Bélgica   0.8628   0.8860   0.876107
4           Canadá   0.8736   0.9080   0.890480
5            China   0.5598   0.6870   0.625240
6        Cingapura   0.7404   0.8660   0.821587
7           Coréia   0.8078   0.8970   0.856907
8          Espanha   0.8162   0.8780   0.852427
9   Estados Unidos   0.8886   0.9130   0.900947
10          França   0.8298   0.8840   0.861773
11         Holanda   0.8724   0.9100   0.891320
12          Itália   0.8070   0.8740   0.848000
13           Japão   0.8572   0.9010   0.881360
14          México   0.6916   0.7700   0.736080
15     Reino Unido   0.8228   0.8630   0.846440
16          Rússia   0.6814   0.7550   0.718520
17   África do Sul   0.5990   0.6328   0.612240
18           Índia   0.4466   0.5470   0.495680

### Moda

In [ ]:
df_dados_paises.groupby('pais')['idh'] \
               .apply(lambda x: x.mode().iloc[0]) \
               .to_frame() \
               .reset_index()

              pais     idh
0         Alemanha  0.8466
1        Austrália  0.8958
2           Brasil  0.6464
3          Bélgica  0.8628
4           Canadá  0.9030
5            China  0.5598
6        Cingapura  0.7404
7           Coréia  0.8078
8          Espanha  0.8162
9   Estados Unidos  0.8886
10          França  0.8298
11         Holanda  0.8724
12          Itália  0.8070
13           Japão  0.8572
14          México  0.6916
15     Reino Unido  0.8600
16          Rússia  0.6814
17   África do Sul  0.5990
18           Índia  0.4466

### Mediana

In [ ]:
df_dados_paises.groupby('pais') \
               .agg(median_idh = pd.NamedAgg('idh', 'median')) \
               .reset_index()

              pais  median_idh
0         Alemanha      0.8888
1        Austrália      0.9156
2           Brasil      0.6866
3          Bélgica      0.8754
4           Canadá      0.8894
5            China      0.6240
6        Cingapura      0.8282
7           Coréia      0.8588
8          Espanha      0.8534
9   Estados Unidos      0.9010
10          França      0.8644
11         Holanda      0.8884
12          Itália      0.8538
13           Japão      0.8824
14          México      0.7364
15     Reino Unido      0.8506
16          Rússia      0.7182
17   África do Sul      0.6100
18           Índia      0.4954

### Percentile

- O numpy utiliza esta interpolação como default

In [ ]:
'https://stackoverflow.com/questions/60467081/linear-interpolation-in-numpy-quantile'

def my_quantile(array, q):
    n = len(array)
    index = (n - 1) * q
    if int(index) == index:  # has no fractional part
        return array[index]
    fraction = index - int(index)
    left = int(index)
    right = left + 1
    i, j = array[left], array[right]
    return i + (j - i) * fraction

In [ ]:
dados = [1, 1, 1, 2, 2, 3, 4, 4, 7, 8, 9]

In [ ]:
np.quantile(dados, 0.35)

2.0

In [ ]:
my_quantile(dados, 0.35)

2.0

- Exemplo pandas

In [ ]:
df_dados_paises.groupby('pais')['idh'] \
               .apply(lambda x: x.quantile([0.05, 0.25, 0.5, 0.75, 0.95])) \
               .to_frame() \
               .reset_index() \
               .rename(columns={'level_1': 'percentil'})

        pais  percentil      idh
0   Alemanha       0.05  0.85066
1   Alemanha       0.25  0.86710
2   Alemanha       0.50  0.88880
3   Alemanha       0.75  0.90050
4   Alemanha       0.95  0.90360
..       ...        ...      ...
90     Índia       0.05  0.44996
91     Índia       0.25  0.46530
92     Índia       0.50  0.49540
93     Índia       0.75  0.52500
94     Índia       0.95  0.54350

[95 rows x 3 columns]

- Ajustes adicionais

In [ ]:
percentis = df_dados_paises.groupby('pais')['idh'] \
                           .apply(lambda x: x.quantile([0.05, 0.95])) \
                           .to_frame() \
                           .reset_index() \
                           .rename(columns={'level_1': 'percentil'})

In [ ]:
percentis.pivot(index='pais', columns='percentil', values='idh') \
         .reset_index() \
         .rename(columns={0.05:'p_5', 0.95:'p_95'})

percentil            pais      p_5     p_95
0                Alemanha  0.85066  0.90360
1               Austrália  0.89818  0.92760
2                  Brasil  0.65074  0.71590
3                 Bélgica  0.86588  0.88530
4                  Canadá  0.87486  0.90730
5                   China  0.56638  0.68350
6               Cingapura  0.75454  0.86460
7                  Coréia  0.81298  0.89490
8                 Espanha  0.82152  0.87660
9          Estados Unidos  0.89056  0.90950
10                 França  0.83358  0.88330
11                Holanda  0.87464  0.90930
12                 Itália  0.81120  0.87330
13                  Japão  0.85972  0.89960
14                 México  0.69776  0.76790
15            Reino Unido  0.82518  0.86230
16                 Rússia  0.68364  0.75220
17          África do Sul  0.60040  0.62888
18                  Índia  0.44996  0.54350

### Desvio médio absoluto

In [ ]:
df_dados_paises.groupby('pais') \
               .agg(desvio_medio_abs_idh = pd.NamedAgg('idh', 'mad')) \
               .reset_index()

              pais  desvio_medio_abs_idh
0         Alemanha              0.017301
1        Austrália              0.008740
2           Brasil              0.018983
3          Bélgica              0.004848
4           Canadá              0.010219
5            China              0.035243
6        Cingapura              0.029934
7           Coréia              0.025273
8          Espanha              0.015732
9   Estados Unidos              0.005124
10          França              0.015362
11         Holanda              0.010544
12          Itália              0.020507
13           Japão              0.012469
14          México              0.020235
15     Reino Unido              0.011744
16          Rússia              0.022848
17   África do Sul              0.007803
18           Índia              0.029365

### Variância e Desvio Padrão

In [ ]:
df_dados_paises.groupby('pais') \
               .agg(variancia_idh = pd.NamedAgg('idh', 'var'),
                    dp_idh = pd.NamedAgg('idh', 'std')) \
               .reset_index()

              pais  variancia_idh    dp_idh
0         Alemanha       0.000408  0.020187
1        Austrália       0.000110  0.010485
2           Brasil       0.000517  0.022727
3          Bélgica       0.000041  0.006401
4           Canadá       0.000142  0.011899
5            China       0.001758  0.041928
6        Cingapura       0.001443  0.037984
7           Coréia       0.000886  0.029773
8          Espanha       0.000372  0.019299
9   Estados Unidos       0.000043  0.006558
10          França       0.000328  0.018103
11         Holanda       0.000152  0.012341
12          Itália       0.000563  0.023729
13           Japão       0.000213  0.014602
14          México       0.000607  0.024646
15     Reino Unido       0.000189  0.013745
16          Rússia       0.000698  0.026420
17   África do Sul       0.000096  0.009790
18           Índia       0.001185  0.034417